.root {
  @apply h-full flex flex-col justify-start items-stretch relative overflow-x-hidden;

  header {
    @apply sticky top-0 flex justify-between items-center p-4 bg-white;
    border-bottom: 1px solid rgba(black, 0.1);
    box-shadow: 0 0 10px 0 rgba(black, 0.1);

    svg {
      @apply cursor-pointer;
      &:hover {
        color: var(--orange);
      }
    }
  }

  .container {
    @apply flex flex-1 flex-col overflow-y-auto;
  }

  .content {
    @apply flex flex-col justify-start flex-1 overflow-x-hidden;
  }

  .footer {
    @apply flex-shrink-0 sticky z-20 bottom-0 w-full right-0 left-0 p-4 bg-white;
    border-top: 1px solid rgba(black, 0.1);
    box-shadow: 0 0 10px 0 rgba(black, 0.1);
  }

  .total {
    @apply flex justify-between items-center mb-8 font-semibold;
  }
}
