.root {
  @apply flex justify-between items-stretch rounded-full px-2 py-1;
  width: 80px;
  border: 1px solid black;
  span {
    @apply font-medium text-black;
  }
  div {
    @apply flex justify-center items-center cursor-pointer;

    &:hover {
      svg {
        stroke: var(--orange);
        color: var(--orange);
        fill: var(--orange);
      }
    }
  }
}
